<%- include('partials/header.ejs') %>

<div class='url-error'>
    <span class='url-error-message'>The page you are requesting does not exist <a href='/'> CLICK HERE </a> to return to
        the
        HOME
        page.</span>
</div>